.header {
  background-position: center center;
  background-size: cover;
  position: relative;
  &__icon {
    color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &-com {
      animation: animation 0.3s ease alternate-reverse infinite;
      font-size: 10rem !important;
      cursor: pointer;
      @media screen and(max-width:600px) {
        font-size: 8rem !important;
      }
      @media screen and(max-width:400px) {
        font-size: 6rem !important;
      }
    }
  }
}

.movie-details {
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media screen and(max-width:1000px) {
    grid-template-columns: 1fr;
  }

  &__image {
    margin-top: -5rem;
    position: relative;
    z-index: 10;
  }
  img {
    width: 100%;

    object-fit: cover;
  }
  &__content {
    color: white;
    padding: 3rem;
  }
  &__title {
    font-size: 2.5rem;

    margin-top: 3rem;
    margin-bottom: 1.4rem;

    @media screen and(max-width:600px) {
      font-size: 2.5rem;
    }
  }

  &__icon-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-bottom: 2rem;
    @media screen and(max-width:1100px) {
      width: 90%;
    }
    @media screen and(max-width:1000px) {
      width: 60%;
    }
    @media screen and(max-width:800px) {
      width: 80%;
    }
    @media screen and(max-width:600px) {
      width: 90%;
    }
    @media screen and(max-width:480px) {
      width: 98%;
    }
  }
  &__time-div {
    display: flex;
    align-items: center;
    height: 100%;
  }
  &__clock {
    color: rgb(236, 44, 108);
    &-icon {
      font-size: 3rem !important;
    }
  }
  &__time {
    font-size: 1.5rem;
    margin-left: 2rem;
  }

  &__icon {
    font-size: 2.6rem !important;
    cursor: pointer;
    color: rgb(250, 41, 76);
    transition: all 0.2s;
    &:hover {
      color: white;
    }
  }
  &__genres {
    display: inline-block;
    align-items: center;
    margin-bottom: 1.4rem;
    &-title {
      font-size: 2rem;
      font-weight: normal;
      margin-bottom: 1.5rem;
    }
    &-item {
      font-weight: normal;
      font-size: 1.7rem;
      border: 1px solid white;
      padding: 0.8rem;
      border-radius: 20px;
      margin-bottom: 1rem;
    }
  }
  &__rating-box {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-bottom: 2rem;
    @media screen and(max-width:600px) {
      width: 50%;
    }
  }
  &__rating-title {
    font-size: 3rem;
    color: yellow;
  }
  &__rating {
    font-size: 3rem;
    color: orange;
  }
  &__release {
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-weight: normal;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    @media screen and(max-width:600px) {
      width: 70%;
    }
    @media screen and(max-width:400px) {
      width: 90%;
    }
  }
  p {
    font-size: 1.7rem;
    text-transform: capitalize;
    margin-bottom: 2rem;
    color: rgb(104, 103, 103);
    @media screen and(max-width:1000px) {
      width: 60%;
      margin-bottom: 5rem;
    }
    @media screen and(max-width:600px) {
      width: 80%;
    }
    @media screen and(max-width:400px) {
      width: 95%;
    }
  }
}

.back-button {
  padding: 1.1rem 3rem;
  background: red;
  border: none;
  outline: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 1.4rem;

  text-transform: capitalize;
  transition: all 0.4s;
  &:hover {
    background-color: rgb(158, 5, 5);
  }
  &:active {
    transform: scale(0.95);
  }
}

@keyframes animation {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
